---
import { ArrowRight } from '@lucide/astro';

interface BlogData {
  slug: string;
  data: {
    title: string;
    description: string;
    date?: Date;
  };
}

interface Props {
  blogs: BlogData[];
}

const { blogs } = Astro.props;
---

<section class="pt-8 md:pt-12">
  <h2 class="font-serif text-4xl italic">Blogs</h2>
  <hr class="my-4" />
  <p>Artículos y pensamientos recientes.</p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 pt-4">
    {blogs.map((blog) => (
      <div>
        <a href={`/blogs/${blog.slug}`} class="block group">
          <h3 class="font-serif text-2xl italic group-hover:underline">
            {blog.data.title} <ArrowRight class="inline" />
          </h3>
          {blog.data.date && <p class="text-sm opacity-70 mb-1">
            {blog.data.date.toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' })}
          </p>}
          <p>{blog.data.description}</p>
        </a>
      </div>
    ))}
  </div>
</section>
