---
---
<footer>
  <hr class="my-4" />
  <div class="flex justify-between items-center text-sm sm:text-base">
    <span class="font-serif">asha</span>
    <span>
      <a href="https://github.com/epifiano">github.com/epifiano</a>
    </span>
  </div>
</footer>
