---
import { ArrowRight } from '@lucide/astro';

interface Project {
  slug: string;
  data: {
    title: string;
    description: string;
  };
}

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<section class="pt-8 md:pt-12">
  <h2 class="font-serif text-4xl italic">Proyectos</h2>
  <hr class="my-4" />
  <p>Conoce algunos de mis proyectos de desarrollo.</p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 pt-4">
    {projects.map((project) => (
      <div>
        <a href={`/projects/${project.slug}`} class="block group">
          <h3 class="font-serif text-2xl italic group-hover:underline">
            {project.data.title} <ArrowRight class="inline" />
          </h3>
          <p>{project.data.description}</p>
        </a>
      </div>
    ))}
  </div>
</section>
