@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@fontsource-variable/geist-mono';

@theme {
  --color-background: #141414;
  --color-font: #F4E0C9;
  --color-accent: #5c5c5c;
  --color-border: #DECAA6;
  --font-geist-mono: 'Geist Mono Variable', monospace;
  --font-space-grotesk: 'Space Grotesk Variable', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Geist Mono Variable', monospace;
}
